html, body {
  height: 100%;
  font-family: 'Pacifico', cursive !important;
  background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
}

a:focus, a:hover{
    text-decoration: none !important;
    color: white !important;
}

.heading{
    font-size: 100px;
    color: white;
    text-align: center;
}
.sub-heading{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.links{
    margin-top: 50px;
}
a{
    padding-right: 2vw;
    color: rgba(255, 255, 255, 0.8) !important;
}
/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

/* Mobile */
@media (max-width: 767px) {
    .heading{
        font-size: 45px;
    }
    .sub-heading{
        font-size: 22px;
    }
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px)  {
    .heading{
        font-size: 80px;
    }
    .sub-heading{
        font-size: 30px;
    }
}
