html, body {
  height: 100%;
  font-family: 'Pacifico', cursive !important;
  background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
}

a:focus, a:hover{
    text-decoration: none !important;
    color: white !important;
}

.heading{
    font-size: 100px;
    color: white;
    text-align: center;
}
.sub-heading{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.links{
    margin-top: 50px;
}
a{
    padding-right: 2vw;
    color: rgba(255, 255, 255, 0.8) !important;
}

@media only screen and (max-width: 40em) {
    .heading{
        font-size: 50px;
    }
}
